/* ------------------- */
/* 1. SETUP & VARIABLES */
/* ------------------- */
:root {
  /* Colors */
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-700: hsl(0, 0%, 20%);
  --color-gray-800: hsl(0, 0%, 12%);
  --color-gray-900: hsl(0, 0%, 8%);

  /* Typography */
  --font-main: "Inter", sans-serif;
}

/* Minimal Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ------------------- */
/* 2. BODY LAYOUT      */
/* ------------------- */

body {
  background-color: var(--color-gray-900);
  font-family: var(--font-main);
  font-size: 0.875rem;
  color: var(--color-white);
  /* Center the card */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
}

/* ------------------- */
/* 3. CARD COMPONENT   */
/* ------------------- */
.card {
  background-color: var(--color-gray-800);
  width: min(100%, 28rem);
  padding: 1.5rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Author Info */

.card-author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-avatar-image {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

.card-author-name {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 800;
  line-height: 1.5;
  margin-block-end: 0.75rem; /* 12px */
}

.card-author-location {
  color: var(--color-green);
  font-weight: 700;
  /* Min: 12px, Ideal: dynamic, Max: 14px */
   font-size: clamp(0.75rem, 2vw, 0.875rem);
}

.card-author-bio {
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  font-weight: 700;
}

/* Author social links */

.card-social-links {
  width: 80%;
}

.social-links {
  width: 100%;
  background-color: var(--color-gray-700);
  margin-bottom: 1rem;
  padding: 1rem;
  list-style: none;
  border-radius: 0.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links:hover {
  background-color: var(--color-green);
  color: var(--color-gray-900);
  cursor: pointer;
}

.social-links a {
  color: inherit;
  text-decoration: none;
}
